@import "tailwindcss";

@plugin "daisyui" {
  themes: adw-dark --default;
}

@plugin "daisyui/theme" {
  name: "adw-dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #222226;
  --color-base-200: #2e2e32;
  --color-base-300: #1d1d20;
  --color-base-content: #ffffff;

  --color-primary: #3584e4;
  --color-primary-content: #ffffff;

  /* --color-secondary: #f000b8;
    --color-secondary-content: #ffffff;

    --color-accent: #37cdbe;
    --color-accent-content: #163835; */

  --color-neutral: #3584e4;
  --color-neutral-content: #ffffff;

  --color-info: #3584e4;
  --color-info-content: #ffffff;

  --color-success: #26a269;
  --color-success-content: #ffffff;

  --color-warning: #cd9309;
  --color-warning-content: #ffffff;

  --color-error: #c01c28;
  --color-error-content: #ffffff;

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --color-mixed: var(--color-warning);
  --color-up: var(--color-error);
  --color-down: var(--color-success);
}

body {
  font-family: "Inter";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars on the body itself */
}

.marker-icon {
  @apply bg-primary text-primary-content rounded-full border text-center align-sub font-bold drop-shadow-lg;
}

.marker-icon-active {
  @apply bg-primary text-primary-content rounded-full border-2 text-center align-sub text-lg font-bold drop-shadow-lg;
}

path.up {
  stroke: var(--color-up);
  stroke-dasharray: 10 20;
  animation: dash 0.25s linear infinite;
}

path.down {
  stroke: var(--color-down);
  stroke-dasharray: 10 20;
  animation: dash 0.25s linear infinite reverse;
}

path.mixed {
  stroke: var(--color-mixed);
  stroke-dasharray: 10 20;
  animation: dash 0.25s linear infinite alternate;
}

path.trace {
  stroke: var(--color-success);
  stroke-dasharray: 10 20;
  animation: dash 0.25s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 30;
  }
  to {
    stroke-dashoffset: 0;
  }
}
