[Desktop Entry]
Name=IP Map
Exec=pkexec /usr/bin/ipmap
Icon=ipmap
Terminal=false
Type=Application
StartupNotify=true
Categories=Network
Keywords=ip;network;ipmap;map;
Comment=An interactive map that shows connected IP addresses.