@tailwind base;
@tailwind components;
@tailwind utilities;

.marker-icon {
  @apply h-full w-full rounded-full border bg-secondary text-center align-sub font-bold text-secondary-content drop-shadow-lg;
}

.marker-icon-active {
  @apply marker-icon bg-primary text-lg text-primary-content !important;
}

.code {
  @apply rounded-md bg-base-300 px-1 py-0.5 font-mono text-sm;
}

.map-line {
  stroke: oklch(var(--p));
}

.map-line-stroke {
  stroke-dasharray: 10 10;
  width: 20rem;
}

path.Outgoing {
  @apply map-line-stroke;
  stroke: oklch(var(--er));
  animation:
    line 0.5s linear infinite reverse,
    fade 0.5s ease-in-out forwards;
}

path.Incoming {
  @apply map-line-stroke;
  stroke: oklch(var(--su));
  animation:
    line 0.5s linear infinite,
    fade 0.5s ease-in-out forwards;
}

path.Mixed {
  @apply map-line-stroke;
  stroke: oklch(var(--wa));
  animation:
    line 0.5s linear infinite alternate,
    fade 0.5s ease-in-out forwards;
}

@keyframes line {
  0% {
    stroke-dashoffset: -50;
  }

  100% {
    stroke-dashoffset: 50;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/**
    https://blog.jamie.holdings/2022/05/15/dark-mode-for/
*/
:root {
  --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3)
    hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.map-dark .leaflet-tile {
  filter: var(--leaflet-tile-filter, none);
}

.leaflet-control-attribution {
  @apply rounded-tl-md bg-base-100 text-neutral-content !important;
}

.leaflet-container {
  @apply bg-base-200 !important;
}
